.account__root {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-auto-rows: auto;
    padding: 2rem;
    grid-gap: 2rem;
    .account__menu {
        .menu__title {
            background-color: $bc2;
            padding: 1.5rem;
            border: 1px solid $borderColor;
            border-bottom: none;
            .title__text {
                @include roboto-medium;
                @include font-style(2rem, $text2);
            }
        }
        .menu__items {
            display: grid;
            grid-auto-columns: 1fr;
            border: 1px solid $borderColor;
            a {
                @include roboto-medium;
                @include font-style(2rem, $text2);
                padding: 2rem;
                border-bottom: 1px solid $borderColor;
                &:last-child {
                    border-bottom: none;
                }
                &.active {
                    background-color: $form_bc;
                }
            }
        }
    }
    .account__content {
        .InterestedIn {
            display: flex;
            align-items: center;
            p {
                @include roboto-medium;
                @include font-style(1.6rem, $blue);
                padding: 0 10px 0 0;
            }
        }
    }
    .account__title {
        padding: 1.5rem;
        margin: 0 0 2rem 0;
        border-bottom: 1px solid $borderColor;
        h1 {
            @include roboto-medium;
            @include font-style(2rem, $text2);
        }
    }
    form {
        padding: 15px;
        width: 70%;
        background-color: $form_bc;
        box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2),
            0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
        .button__block {
            display: flex;
            justify-content: space-between;
            padding: 2rem 0 0;
        }
    }
}
