header {
   @include flex-between;
   padding: 20px 50px;
   background-color: rgba(155, 89, 182, 1);
   .header__title {
      @include flex-center;
      h1 {
         @include roboto-medium;
         @include font-style(3rem, $white);
      }
   }
   .header__wellcome {
      @include flex-center;
      p {
         @include roboto-medium;
         @include font-style(2rem, $text2);
         text-transform: uppercase;
      }
   }
   .header__user {
      @include flex-center;
      .user__item {
         padding: 5px 10px;
         margin: 0 10px;
         background-color: rgba(52, 73, 94, 1);
         border-radius: 5px;
         cursor: pointer;
         a,
         .logout__text {
            @include roboto-regular;
            @include font-style(2rem, $white);
         }
      }
      .header__line {
         width: 2px;
         height: 50px;
         background-color: $g1;
         margin: 0 10px;
      }
      .user__lang {
         margin: 0 10px;
         background-color: rgba(52, 73, 94, 1);
         border-radius: 5px;
         cursor: pointer;
         .lang__text {
            text-transform: uppercase;
            padding: 5px 10px;
            min-width: 40px;
            @include roboto-regular;
            @include font-style(2rem, $white);
         }
      }
   }
}
