* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px; }

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

hr {
  overflow: visible; }

ul {
  list-style: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal; }

a {
  text-decoration: none; }

.safe-area {
  max-width: 1200px;
  margin: 0 auto; }

@font-face {
  font-family: "Roboto-Medium";
  src: url("./../fonts/Roboto-Medium.eot"), url("./../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("./../fonts/Roboto-Medium.woff") format("woff"), url("./../fonts/Roboto-Medium.ttf") format("truetype"), url("./../fonts/Roboto-Medium.svg#Roboto-Medium") format("svg"); }

@font-face {
  font-family: "Roboto-Regular";
  src: url("./../fonts/Roboto-Regular.eot"), url("./../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("./../fonts/Roboto-Regular.woff") format("woff"), url("./../fonts/Roboto-Regular.ttf") format("truetype"), url("./../fonts/Roboto-Regular.svg#Roboto-Regular") format("svg"); }

@font-face {
  font-family: "custom";
  src: url("./../fonts/custom.eot"), url("./../fonts/custom.eot?#iefix") format("embedded-opentype"), url("./../fonts/custom.woff") format("woff"), url("./../fonts/custom.ttf") format("truetype"), url("./../fonts/custom.svg#custom") format("svg"); }

body {
  background-color: #F5F5F5; }

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
  background-color: #9b59b6; }
  header .header__title {
    display: flex;
    align-items: center;
    justify-content: center; }
    header .header__title h1 {
      font-family: "Roboto-Medium", arial, helvetica, sans-serif;
      font-size: 3rem;
      color: #ffffff; }
  header .header__user {
    display: flex;
    align-items: center;
    justify-content: center; }
    header .header__user .user__item {
      padding: 5px 10px;
      margin: 0 10px;
      background-color: #34495e;
      border-radius: 5px;
      cursor: pointer; }
      header .header__user .user__item a, header .header__user .user__item .logout__text {
        font-family: "Roboto-Regular", arial, helvetica, sans-serif;
        font-size: 2rem;
        color: #ffffff; }
    header .header__user .header__line {
      width: 2px;
      height: 50px;
      background-color: #c7d1d8;
      margin: 0 10px; }
    header .header__user .user__lang {
      margin: 0 10px;
      background-color: #34495e;
      border-radius: 5px;
      cursor: pointer; }
      header .header__user .user__lang .lang__text {
        text-transform: uppercase;
        padding: 5px 10px;
        min-width: 40px;
        font-family: "Roboto-Regular", arial, helvetica, sans-serif;
        font-size: 2rem;
        color: #ffffff; }

footer {
  padding: 10px 50px;
  border-top: 1px solid #2980b9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  background-color: #ffffff;
  width: 100%; }
  footer .footer__logo h1 {
    font-family: "Roboto-Medium", arial, helvetica, sans-serif;
    font-size: 3rem;
    color: #c0392b; }
  footer .footer__social {
    display: flex;
    align-items: center;
    justify-content: center; }
    footer .footer__social .social__item {
      font-family: "custom";
      font-size: 3rem;
      margin: 0 10px;
      padding: 5px;
      cursor: pointer; }
      footer .footer__social .social__item.item--facebook {
        color: #3b5998;
        padding: 5px 15px; }
      footer .footer__social .social__item.item--twitter {
        color: #00aced; }
      footer .footer__social .social__item.item--linkedin {
        color: #0077B5; }
      footer .footer__social .social__item.item--youtube {
        color: #cc181e; }

.nav__menu__root {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
  background-color: #34495e; }
  .nav__menu__root .nav__menu {
    display: flex;
    align-items: center;
    justify-content: center; }
    .nav__menu__root .nav__menu .menu__item {
      margin: 0 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border-bottom: 2px solid transparent; }
      .nav__menu__root .nav__menu .menu__item:hover {
        border-bottom: 2px solid #2980b9; }
        .nav__menu__root .nav__menu .menu__item:hover a .item__icon {
          color: #ffffff; }
        .nav__menu__root .nav__menu .menu__item:hover a .item__name {
          color: #ffffff; }
      .nav__menu__root .nav__menu .menu__item.active {
        border-bottom: 2px solid #2980b9; }
        .nav__menu__root .nav__menu .menu__item.active a .item__icon {
          color: #ffffff; }
        .nav__menu__root .nav__menu .menu__item.active a .item__name {
          color: #ffffff; }
      .nav__menu__root .nav__menu .menu__item a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 25px; }
        .nav__menu__root .nav__menu .menu__item a .item__icon {
          font-family: "custom";
          font-size: 2rem;
          color: #c7d1d8; }
        .nav__menu__root .nav__menu .menu__item a .item__name {
          font-family: "Roboto-Regular", arial, helvetica, sans-serif;
          font-size: 2rem;
          color: #c7d1d8;
          padding: 0 0 0 10px; }

.users article a {
  padding: 10px 20px;
  font-family: "Roboto-Medium", arial, helvetica, sans-serif;
  font-size: 2rem;
  color: #4a4a4a; }

.auth__root {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .auth__root .auth__block {
    margin-top: -20px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px; }
    .auth__root .auth__block .auth__header {
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 600px; }
      .auth__root .auth__block .auth__header .header__title {
        font-family: "Roboto-Medium", arial, helvetica, sans-serif;
        font-size: 2rem;
        color: #4a4a4a; }
      .auth__root .auth__block .auth__header .header__exit {
        font-family: "custom";
        font-size: 3rem;
        color: #2980b9;
        cursor: pointer; }
    .auth__root .auth__block .auth__form {
      display: flex;
      align-items: flex-start;
      flex-direction: column; }
      .auth__root .auth__block .auth__form .form__input {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 10px;
        background-color: #e7f8f8; }
        .auth__root .auth__block .auth__form .form__input .input__title {
          font-family: "Roboto-Medium", arial, helvetica, sans-serif;
          font-size: 1.6rem;
          color: #2980b9;
          padding: 5px 0; }
        .auth__root .auth__block .auth__form .form__input .input {
          padding: 5px;
          width: 300px;
          border: 2px solid #1abc9c; }
        .auth__root .auth__block .auth__form .form__input .input__warning {
          padding: 5px 0;
          font-family: "Roboto-Medium", arial, helvetica, sans-serif;
          font-size: 1.6rem;
          color: #c0392b; }
      .auth__root .auth__block .auth__form .form__submit {
        margin: 10px 0;
        align-self: flex-end; }
        .auth__root .auth__block .auth__form .form__submit input {
          padding: 5px 15px; }
