* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-size: 10px;
}

html {
      line-height: 1.15;
      -webkit-text-size-adjust: 100%;
}

hr {
      overflow: visible;
}

ul {
      list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
      font-weight: normal;
}

a {
      text-decoration: none;
      background-color: transparent;
}

img {
      border-style: none;
}
