$text: #4a4a4a;
$text1:rgba(192, 57, 43,1.0);


$white: #ffffff;
$blue: #3498db;
$face:#3b5998;
$twitter:#00aced;
$linkedin:#0077B5;
$youtube:#cc181e;

$g1: #c7d1d8;
$bc:#F5F5F5;


.safe-area {
      max-width: 1200px;
      margin: 0 auto;
}
